doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Node.js with TailwindCSS, Express and Pug
    link(href="./styles/style.css", rel="stylesheet")
    script(src="https://cdn.tailwindcss.com")

  body(class="bg-gray-100")
    h1(class="p-4") DGFC Championship Analysis

    each team in teams

      div(class="p-4")
        table(class="min-w-full divide-y divide-gray-300")
          thead 
            tr 
              th(colspan="6" class="px-4 py-2") #{team.teamInfo.name}
            tr 
              th(class="px-4 py-2") 
              th(class="px-4 py-2") Start
              th(class="px-4 py-2") Ende
              th(class="px-4 py-2") Bester Flug
              th(class="px-4 py-2") Klassifikation 
              th(class="px-4 py-2") Handicap
          tbody 
            each day in team.days
              tr(class="border border-none border-bottom")
                td= day.date
              each flight in day.flights
                tr
                  if flight == null 
                    td(class="border px-4 py-2" colspan="6") Kein Flug
                    
                  else 
                    td=flight.start
                    td=flight.end
                  //- td(class="border px-4 py-2")= flight.date
                  //- td(class="border px-4 py-2")= flight.start
                  //- td(class="border px-4 py-2")= flight.end
                  //- td(class="border px-4 py-2")= flight.bestFlight
                  //- td(class="border px-4 py-2")= flight.classification
                  //- td(class="border px-4 py-2")= flight.handicap


